.back {
    background: black;
    width: 100px;
    height: 300px;
}

.go {
    position: absolute;
    background: green;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    animation: green 4s infinite;
}

.wait {
    position: absolute;
    background: orange;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 110px;
    margin-left: 10px;
    animation: orange 1s infinite;
}

.stop {
    position: absolute;
    background: red;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 210px;
    margin-left: 10px;
    animation: red 3s infinite;
}

@keyframes green{
    0% {opacity: 20%;}
    100% {opacity: 100%;}
}

@keyframes orange{
    0% {opacity: 20%;}
    100% {opacity: 100%;}
}

@keyframes red{
    0% {opacity: 20%;}
    100% {opacity: 100%;}
}